INSERT INTO public.llm_providers (provider, enabled, base_url, org_id) 
SELECT 'anthropic', true, 'https://api.anthropic.com/v1/messages', organization_id FROM public.organizations 
ON CONFLICT DO NOTHING;
INSERT INTO public.llm_providers (provider, enabled, base_url, org_id) 
SELECT 'kie', true, 'https://api.kie.ai/api/v1', organization_id FROM public.organizations 
ON CONFLICT DO NOTHING;
